/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  background: #A3C3CD;
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    color : #D3C5AC;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      background: #A3C3CD;        
      max-width: $x-large;
    }

    nav {
      background: #A3C3CD;         
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {
   color : #D3C5AC;
   background: #A3C3CD;
   margin-left: 2em;
  ul { 
    background: #A3C3CD;     
    margin-left: 3em;
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  background: #A3C3CD;
  display: block;
  list-style-type: none;
  /*white-space: nowrap;*/

  &--lg {
    padding-right: 4em;
    font-weight: 700;
  }
}
